.wrapper {
    background: #fff url(https://img.freepik.com/free-photo/stylish-white-fashion-sneakers-pink-background_118454-19757.jpg?w=1380) no-repeat scroll center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;

}

.formContainer {
    border-radius: 10px;
    background: none 0px 0px repeat scroll #fff;


    padding: 40px;
}

a {
    color: dodgerblue;
}

.registerText {
    text-align: center;
}

.registerIcon {
    color: var(--primary);
    font-size: 4rem;
}


.registerForm {
    margin: 10px 50;
}

.name,
.email,
.password {
    border: 1px solid var(--color-hover);
    padding: 10px 5px;
    margin: 15px 0;
    width: 100%;
    font-size: 1.6rem;
    border-radius: 10px;
}



.submit {

    color: var(--white);
    background-color: var(--primary);
    padding: 10px 25px;
    border-radius: 4px;
    border: transparent;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(206, 28, 69);
}