.wrapper {
    height: 100%;
    padding: 50px 0;
}

.sideBar {
    height: 50%;
    padding: 20px 10px;
    border: 1px solid #f5f5f5;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px;
}
.account {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.userFeature {
    padding: 5px 0;
    cursor: pointer;
    transition: color ease 0.3s;
}
.userFeature:hover {
    color: var(--primary);
}
.content {
    padding: 0 20px;
}
.contentView {
    padding: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px;
}
.active {
    color: var(--primary);
}
