.contentTitle {
    padding-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 1px solid #ebe7e7;
}
.subUserTitle {
    width: 100px;
}
.userTitle {
    display: flex;
    padding: 8px 0;
}
.passTitle {
    display: flex;
    padding: 12px 0;
}
.subPassTitle {
    width: 150px;
}
.currentPass,
.newPass,
.confirmPass {
    font-size: 1.4rem;
    padding: 10px 8px;
    width: 300px;
    border: 1px solid #f0efef;
    transition: border 0.2s linear;
}
.currentPass:focus,
.newPass:focus,
.confirmPass:focus {
    border-color: #ccc;
}

.orderType {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.orderItem {
    text-transform: uppercase;
    padding: 6px 0;
    text-align: center;
    width: 25%;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.orderItem:hover {
    color: var(--primary);
}

.active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}
.orderPro {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid var(--primary);
    margin: 10px 0;
}
.proCnt {
    display: flex;
    align-items: center;
    width: 100%;
}
.imgPro {
    margin-right: 20px;
    width: 30%;
}
.infoPro {
    font-size: 1.8rem;
    color: var(--black);
    width: 70%;
}
.totalAndCancel {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.totalOrder {
    display: flex;
    padding: 6px 0;
    justify-content: flex-end;
}
.actionPro {
    display: flex;
    justify-content: flex-end;
}
.cancelPro {
    width: 30%;
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.cancelPro:hover {
    background-color: var(--color-hover);
}
.totalTitle {
    font-size: 1.6rem;
    color: var(--black);
}
.orderPrice {
    font-size: 1.6rem;
    color: var(--primary);
}

.changePage {
    display: flex;
    justify-content: center;
}

.preBtn,
.nextBtn {
    color: #222;
    width: 36px;
    font-size: 1.4rem;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 50%;
    line-height: 36px;

    cursor: pointer;
    transition: all 0.3s ease;
}
.pagePro {
    background-color: var(--color-hover);
    color: var(--white);
    width: 36px;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 50%;
    line-height: 36px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.preBtn:hover,
.nextBtn:hover {
    background-color: var(--color-hover);
    color: var(--white);
}
.preBtn,
.pagePro {
    margin-right: 5px;
}
