.tableWrapper {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 3rem 2rem;
}

.tableWrapper td,
.tableWrapper th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.search {
    width: 90%;
    height: 46px;
    margin-left: 40px;
}

.searchForm {
    position: relative;
    height: 100%;
}

.mainRight {
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    place-self: flex-end;
    width: 400px;
}

.searchInput {
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 57px;
    position: absolute;
    height: 100%;
    padding-left: 30px;
    background-color: transparent;
    font-size: 1.4rem;
}

.searchInput:focus {
    border-color: #ccc;
}

.searchIcon {
    position: absolute;
    right: 5%;
    top: 20%;
    font-size: 1.8rem;
}

.changePage {
    display: flex;
    justify-content: center;
}

.preBtn,
.nextBtn {
    color: #222;
    width: 36px;
    font-size: 1.4rem;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 50%;
    line-height: 36px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.pagePro {
    background-color: var(--color-hover);
    color: var(--white);
    width: 36px;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 50%;
    line-height: 36px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.preBtn:hover,
.nextBtn:hover {
    background-color: var(--color-hover);
    color: var(--white);
}

.preBtn,
.pagePro {
    margin-right: 5px;
}

.btnExp {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    color: var(--black);
    transition: all 0.2s ease-in-out;
}

.btnExp:hover {
    background: var(--color-hover);
    color: #fff;
}

.orderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.buttonOrder {
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.buttonOrder:hover {
    background: var(--color-hover);
    color: #fff;
}

.buttonLeft {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.buttonRight {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.active {
    background: var(--color-hover);
    color: #fff;
}